/Banco/nbproject/private/
/Banco/build/
/ListaPessoas/nbproject/private/
/ListaPessoas/build/
/Predio/nbproject/private/
/Predio/build/
/Empresa/nbproject/private/
/Empresa/build/
/Veiculo/nbproject/private/
/Ferias/nbproject/private/
/Ferias/build/
/Bolinha/nbproject/private/
